{% extends 'layouts/main.html' %}

{% block content %}
  <!-- make title and button for hyperlink -->
  <h2 class="float-left mb-2">{{ data.title }}</h2>
  <a href="/users" class="btn btn-primary float-right mb-2">Back</a>
  
  <br>
  <form action="/users/create" method="POST" class="mt-5">
    <!-- CSRF Token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="is_createdb" name="is_createdb">
      <label class="form-check-label" for="is_createdb">Create DB</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="is_superuser" name="is_superuser">
      <label class="form-check-label" for="is_superuser">Superuser</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}