{% extends 'layouts/main.html' %}

{% block content %}
  <!-- make title and button for hyperlink -->
  <div class="clearfix">
    <h2 class="float-left mb-2">{{ data.title }}</h2>
    <a href="/users" class="btn btn-primary float-right mb-2">Back</a>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="/users/{{ data.user.usename }}/edit" method="POST">
    <!-- CSRF Token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ data.user.usename }}" required readonly>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="is_createdb" name="is_createdb" {% if data.user.usecreatedb %} checked {% endif %}>
      <label class="form-check-label" for="is_createdb">Create DB</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="is_superuser" name="is_superuser" {% if data.user.usesuper %} checked {% endif %}>
      <label class="form-check-label" for="is_superuser">Superuser</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}