<nav id="sidebar">
  <div class="p-4 pt-5">
    <a href="#" class="img logo mb-5">
      <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo" class="img-fluid rounded-circle">
    </a>
    <ul class="list-unstyled components mb-5">
      <li>
        <a href="/">Home</a>
      </li>
      <!-- <li class="active">
        <a href="#masterSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Masters</a>
        <ul class="collapse list-unstyled" id="masterSubmenu">
          <li>
              <a href="#">Home 1</a>
          </li>
          <li>
              <a href="#">Home 2</a>
          </li>
          <li>
              <a href="#">Home 3</a>
          </li>
        </ul>
      </li> -->
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
          <a href="/roles">Roles</a>
      </li>
      <li>
        <a href="/databases">Databases</a>
      </li>
      <li>
        <a href="/permissions">Permissions</a>
      </li>
      <!-- <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
              <a href="#">Page 1</a>
          </li>
          <li>
              <a href="#">Page 2</a>
          </li>
          <li>
              <a href="#">Page 3</a>
          </li>
        </ul>
      </li> -->
    </ul>

    <div class="footer">
      <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <a href="https://web.irasa.co.id" target="_blank">CV. Ika Raya Sentausa</a></p>
    </div>

  </div>
</nav>