<!doctype html>
<html lang="en">
  <head>
  	<title>DB-Manager | CV. Ika Raya Sentausa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
      .alert {
        margin-top: -10px !important;
      }
    </style>
  </head>
  <body>
		<div class="wrapper d-flex align-items-stretch">
			{% include 'partials/sidebar.html'   %}

        <!-- Page Content  -->
      <div id="content" class="p-4">

        {% include 'partials/header.html'   %}

        {% block content %}
          
        {% endblock %}
      </div>
		</div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>