{% extends 'layouts/main.html' %}

{% block styles %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap4.css">
{% endblock %}

{% block content %}
  <div class="clearfix">
    <h2 class="float-left mb-3">{{ data.title }}</h2>
    <a href="/databases" class="btn btn-primary float-right mb-2">Back</a>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="alert alert-danger" role="alert">
    <strong>IMPORTANT!</strong> Please checked the checkbox for the tables and privileges that you want to grant permission.
  </div>

  <form action="/databases/{{ data.db_name }}/grant" method="POST">
    <!-- CSRF Token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <!-- Role Selection -->
    <div class="form-group">
      <label for="role">Select Role</label>
      <select name="role" id="role" class="form-control" required onchange="fetchRolePermissions()">
        <option value="">Select Role</option>
        {% for role in data.roles %}
          <option value="{{ role.rolname }}" {% if role.rolname == request.args.get('role') %}selected{% endif %}>{{ role.rolname }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Privileges Selection -->
    <label>Privileges</label>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="privileges" value="ALL" id="all_privileges" {% if 'ALL' in data.privileges %}checked{% endif %}>
        <label class="form-check-label" for="all_privileges">ALL PRIVILEGES</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="privileges" value="SELECT" id="select" {% if 'SELECT' in data.privileges %}checked{% endif %}>
        <label class="form-check-label" for="select">SELECT</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="privileges" value="INSERT" id="insert" {% if 'INSERT' in data.privileges %}checked{% endif %}>
        <label class="form-check-label" for="insert">INSERT</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="privileges" value="UPDATE" id="update" {% if 'UPDATE' in data.privileges %}checked{% endif %}>
        <label class="form-check-label" for="update">UPDATE</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="privileges" value="DELETE" id="delete" {% if 'DELETE' in data.privileges %}checked{% endif %}>
        <label class="form-check-label" for="delete">DELETE</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="privileges" value="TRUNCATE" id="truncate" {% if 'TRUNCATE' in data.privileges %}checked{% endif %}>
        <label class="form-check-label" for="truncate">TRUNCATE</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="privileges" value="REFERENCES" id="references" {% if 'REFERENCES' in data.privileges %}checked{% endif %}>
        <label class="form-check-label" for="references">REFERENCES</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="privileges" value="TRIGGER" id="trigger" {% if 'TRIGGER' in data.privileges %}checked{% endif %}>
        <label class="form-check-label" for="trigger">TRIGGER</label>
      </div>
    </div>

    <!-- Tables Selection -->
    <label>Tables</label>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
            <th width="50px">#</th>
            <th>Table</th>
          </tr>
      </thead>
      <tbody>
      {% for table in data.tables %}
      <tr>
        <td class="text-center"><input type="checkbox" name="tables" value="{{ table.table_name }}" id="table_{{ loop.index }}" {% if table.table_name in data.accessible_tables %}checked{% endif %}></td>
        <td><label for="table_{{ loop.index }}">{{ table.table_name }}</label></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <!-- Grant Option -->
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="grant_option" id="grant_option">
        <label class="form-check-label" for="grant_option">WITH GRANT OPTION</label>
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Grant Permission</button>
  </form>

{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap4.js"></script>
  <script>
    new DataTable('#example');
    function fetchRolePermissions() {
      const role = document.getElementById('role').value;
      const url = new URL(window.location.href);
      url.searchParams.set('role', role);  // Menambahkan parameter role ke URL
      window.location.href = url;  // Reload halaman dengan parameter baru
    }
  </script>
{% endblock %}
